{% extends "me_info/navbar.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/intro.css' %}">

<div class="container">
  <div class="row">
    <h1 class="about-me-headers">Introducing Me</h1>
    <p>
      my paragraph
    </p>
  </div>
  <br>
  <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" style="width:450px; height:600px;">
      <div class="carousel-inner">
        {% for image_path in image_paths %}
          {% if forloop.first %}
            <div class="carousel-item active">
          {% else %}
            <div class="carousel-item">
          {% endif %}
            <img src="{% static image_path %}" class="d-block w-100">
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="col">
      <h1 class="about-me-headers">Accomplishments</h1>
        <ul>
          <h4>
            <li>1</li>
            <li>2</li>
            <li>3</li>
          </h4>
        </ul>
      <h1 class="about-me-headers">Technical Skills</h1>
        <ul>
          <h4>
            <li>1</li>
            <li>2</li>
            <li>3</li>
          </h4>
        </ul>
    </div>

  </div>
</div>
{% endblock %}