{% extends "me_info/navbar.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/intro.css' %}">

<div class="container">
  <div class="row">
    <div class="card bg-success">
      <div class="card-header"><h1 class="about-me-headers">Introducing Me</h1></div>
      <div class="card-body">
        <p>{{ description }}</p>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" style="width:600px; height:800px;">
      <div class="carousel-inner">
        {% for image_path in image_paths %}
          {% if forloop.first %}
            <div class="carousel-item active">
          {% else %}
            <div class="carousel-item">
          {% endif %}
            <img src="{% static image_path %}" class="d-block w-100" alt="{% static image_path %}">
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="col">
      <div class="card bg-success">
        <div class="card-header about-me-headers"><h1>Education</h1></div>
        <div class="card-body">
          <ul>
            <h4>
              {% for item in education %}
                <li>{{ item }}</li>
              {% endfor %}
            </h4>
          </ul>
        </div>
      </div>
      <br>
      <div class="card bg-success">
        <div class="card-header about-me-headers"><h1>Accomplishments</h1></div>
        <div class="card-body">
          <ul>
            <h4>
              {% for accomplishment in accomplishments %}
                <li>{{ accomplishment }}</li>
              {% endfor %}
            </h4>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}