{% extends "me_info/navbar.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">

<div id="0" class="card text-bg-success">
  <div class="row">
    <div class="col col-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col">
      <div class="card-body">
        <h2 class="card-title">Project Name0</h2>
        <p class="card-text">Short
          description
        </p>
        <h4 class="card-title">Skill Hghlights</h4>
        <ul>
          <li>1sdfv sfgsfg ade agf  aa sgfgsaa asgafg aerg a aerga aga </li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="1" class="card text-bg-success">
  <div class="row">
    <div class="col col-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col">
      <div class="card-body">
        <h2 class="card-title">Project Name1</h2>
        <p class="card-text">Short
          description
        </p>
        <h4 class="card-title">Skill Hghlights</h4>
        <ul>
          <li>1sdfv sfgsfg ade agf  aa sgfgsaa asgafg aerg a aerga aga </li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="2" class="card text-bg-success">
  <div class="row">
    <div class="col col-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col">
      <div class="card-body">
        <h2 class="card-title">Project Name2</h2>
        <p class="card-text">Short
          description
        </p>
        <h4 class="card-title">Skill Hghlights</h4>
        <ul>
          <li>1sdfv sfgsfg ade agf  aa sgfgsaa asgafg aerg a aerga aga </li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="3" class="card text-bg-success">
  <div class="row">
    <div class="col col-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col">
      <div class="card-body">
        <h2 class="card-title">Project Name3</h2>
        <p class="card-text">Short
          description
        </p>
        <h4 class="card-title">Skill Hghlights</h4>
        <ul>
          <li>1sdfv sfgsfg ade agf  aa sgfgsaa asgafg aerg a aerga aga </li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}