{% extends "me_info/navbar.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/work_history.css' %}">

<div class="card">
  <div class="card-header">
    job start/ end dates
  </div>
  <div class="card-body">
    <h3 class="card-title">
      <b>job title</b>
    </h3>
    <div class="card-text">
      <div class="row">
        <div class="col">
          <div class="card text-bg-success">
            <h4> Skills used </h4>
            <ul>
              <li>Test asdfa  sahgs  shshsr sbsrtfga gav yastasv a a a  agfvgaefg SFRGHSDGH SRTH DN S SJTYJDN S SHSTRH S SHS</li>
              <li>Test</li>
              <li>Test</li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card text-bg-success">
            <h4> Tasks </h4>
            <ul>
              <li>Test asdfa  sahgs  shshsr sbsrtfga gav yastasv a a a  agfvgaefg SFRGHSDGH SRTH DN S SJTYJDN S SHSTRH S SHS</li>
              <li>Test</li>
              <li>Test</li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card text-bg-success">
            <h4> Communication </h4>
            <ul>
              <li>Test asdfa  sahgs  shshsr sbsrtfga gav yastasv a a a  agfvgaefg SFRGHSDGH SRTH DN S SJTYJDN S SHSTRH S SHS</li>
              <li>Test</li>
              <li>Test</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    job start/ end dates
  </div>
  <div class="card-body">
    <h3 class="card-title">
      <b>job title</b>
    </h3>
    <div class="card-text">
      <div class="row">
        <div class="col">
          <div class="card text-bg-success">
            <h4> Skills used </h4>
            <ul>
              <li>Test asdfa  sahgs  shshsr sbsrtfga gav yastasv a a a  agfvgaefg SFRGHSDGH SRTH DN S SJTYJDN S SHSTRH S SHS</li>
              <li>Test</li>
              <li>Test</li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card text-bg-success">
            <h4> Tasks </h4>
            <ul>
              <li>Test asdfa  sahgs  shshsr sbsrtfga gav yastasv a a a  agfvgaefg SFRGHSDGH SRTH DN S SJTYJDN S SHSTRH S SHS</li>
              <li>Test</li>
              <li>Test</li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card text-bg-success">
            <h4> Communication </h4>
            <ul>
              <li>Test asdfa  sahgs  shshsr sbsrtfga gav yastasv a a a  agfvgaefg SFRGHSDGH SRTH DN S SJTYJDN S SHSTRH S SHS</li>
              <li>Test</li>
              <li>Test</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}