{% extends "me_info/navbar.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/work_history.css' %}">

{% for job in work_history_data%}
  <div class="card">
    <div class="card-header">
      {{ job.start_date }} -> {{ job.end_date }}
    </div>
    <div class="card-body">
      <h3 class="card-title">
        <b>{{ job.title }}</b>
      </h3>
      <div class="card-text">
        <div class="row">
          <div class="col">
            <div class="card text-bg-success">
              <h4> Highlighted Skills </h4>
              <ul>
                {% for skill in job.skills_used %}
                  <li> {{ skill }} </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-success">
              <h4> Highlighted Tasks </h4>
              <ul>
                {% for task in job.tasks %}
                  <li> {{ task }} </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-success">
              <h4> Other Highlights </h4>
              <ul>
                {% for item in job.other %}
                  <li> {{ item }} </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}