{% extends "base.html" %}
{% load static %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

    <title>Contact Form #9</title>
  </head>
  <body>
    <div class="container" id="about">
      <div class="row align-items-stretch no-gutters contact-wrap about">
        <div class="col-md-12">
          <div class="form h-100">
            <h3>About Caleb 3D Prints!</h3>
            <div class="container" data-aos="fade-up" data-aos-delay="100">
              <div class="row">
                <div class="col-5 mobile-sized">
                  <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      {% for image_path in printing_img_paths %}
                        {% if forloop.first %}
                          <div class="carousel-item img-fluid active">
                        {% else %}
                          <div class="carousel-item img-fluid">
                        {% endif %}
                          <img src="{% static image_path %}" class="carousel-image w-100" alt="{% static image_path %}">
                        </div>
                      {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
                <div class="col-7 mobile-sized ">
                  <p>{{ intro|linebreaksbr }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="message" class="container">
      <div class="row align-items-stretch no-gutters contact-wrap">
        <div class="col-md-12">
          <div class="form h-100">
            <h3>Message me!</h3>
            <form class="mb-5" method="post" action="contact/" enctype="multipart/form-data">  {% comment %} <form class="mb-5" method="post" id="contactForm" name="contactForm"> {% endcomment %}
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group mb-3">
                  <label for="" class="col-form-label">Name *</label>
                  <input type="text" class="form-control" name="name" id="name" placeholder="Your name" value="{{ email_form.name|default_if_none:"" }}" required>
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label for="" class="col-form-label">Email *</label>
                  <input type="email" class="form-control" name="email" id="email"  placeholder="Your email" value="{{ email_form.email|default_if_none:"" }}" required>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group mb-3">
                  <label for="budget" class="col-form-label">Budget *</label>
                  <select class="custom-select" id="budget" name="budget" required>
                    <option {% if email_form.budget == "" %}selected {% endif %} hidden value="">Choose...</option>
                    <option {% if email_form.budget == "<$25" %} selected {% endif %} value="<$25"><$25</option>
                    <option {% if email_form.budget == "$25 - $75" %} selected {% endif %} value="$25 - $75">$25 - $75</option>
                    <option {% if email_form.budget == "$100+" %} selected {% endif %} value="$100+">$100+</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group mb-3">
                  <label for="message" class="col-form-label">Message *</label>
                  <textarea class="form-control" name="message" id="message" cols="30" rows="4"  placeholder="Write your message" required>{{ email_form.message|default_if_none:"" }}</textarea>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="file-upload" class="col-form-label">Upload File:</label>
                  <input type="file" class="form-control" id="user_model" name="user_model"></input>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                  <span class="submitting"></span>
                </div>
              </div>
            </form>

            {% if email_sent is True %}
            <div>
              Your message was sent, thank you!
            </div>
            {% elif email_sent is False %}
              Some fields were not filled out correctly, please try again!
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}