{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Caleb Richardson</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'IMG/favicon.png' %}" rel="icon">
  <link href="{% static 'IMG/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'CSS/main.css' %}" rel="stylesheet">

  <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
</head>

<body class="index-page">

  <header id="header" class="header d-flex sticky-top">
    <nav id="navmenu" class="navmenu col">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#resume">Resume</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#" hx-get="/click?id=0" hx-target="#buttons-found" hx-swap="innerHTML"> </a></li>
        {% comment %} <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">Dropdown 1</a></li>
            <li><a href="#">Dropdown 2</a></li>
            <li><a href="#">Dropdown 3</a></li>
            <li><a href="#">Dropdown 4</a></li>
          </ul>
        </li> {% endcomment %}
      </ul>
    </nav>

    <div class="social-links col d-flex">
      <a href="https://linkedin.com/in/caleb-richardson-368572168" target="_blank" rel="noopener noreferrer">  <i class="bi bi-linkedin"></i></a>
      <a href="https://github.com/KingBubIII" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <main class="col col-10 main">
        <div class="content">
            <!-- About Section -->
            <section id="about" class="about section">
              <h2>About me</h2>
              <div class="section-title">
                <div class="container" data-aos="fade-up" data-aos-delay="100">
                  <div class="row">
                    <div class="col col-5">
                      <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          {% for image_path in me_images %}
                            {% if forloop.first %}
                              <div class="carousel-item img-fluid active">
                            {% else %}
                              <div class="carousel-item img-fluid">
                            {% endif %}
                              <img src="{% static image_path %}" class="carousel-image w-100" alt="{% static image_path %}">
                            </div>
                          {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    </div>
                    <div class="col-7">
                      <p>{{ intro|linebreaksbr }}</p>
                    </div>
                  </div>
                  <a href="#" hx-get="/click?id=1" hx-target="#buttons-found" hx-swap="innerHTML"> </a>
                </div>
              </div>
            </section><!-- /About Section -->
            <a href="#" hx-get="/click?id=2" hx-target="#buttons-found" hx-swap="innerHTML"> </a>
            <!-- Resume Section -->
            <section id="resume" class="resume section">
              <h2>Resume</h2>
              <!-- Section Title -->
              <div class="container section-title" data-aos="fade-up">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                      <h3 class="resume-title">Education</h3>
                      {% for item in education %}
                        <div class="resume-item">
                          <h4>{{ item.degree }}</h4>
                          <h5>{{ item.date }}</h5>
                          <p><em>{{ item.location }}</em></p>
                          <p>{{ item.notable }}</p>
                        </div><!-- Edn Resume Item -->
                      {% endfor %}
                      <h3 class="resume-title">Self Learning<a href="#" hx-get="/click?id=3" hx-target="#buttons-found" hx-swap="innerHTML"> </a></h3>
                      {% for place in self_learning %}
                      <div class="resume-item pb-0">
                        <h4>{{ place.name }}</h4>
                        <ul>
                          {% for topic in place.courses %}
                            <li>{{ topic }}</li>
                          {% endfor %}
                        </ul>
                      </div><!-- Edn Resume Item -->
                      {% endfor %}
                    </div>
                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
                      <h3 class="resume-title">Professional Experience</h3>
                      {% for job in work_history %}
                      <div class="resume-item">
                        <h4>{{ job.title }}{% if forloop.first %}<a href="#" hx-get="/click?id=4" hx-target="#buttons-found" hx-swap="innerHTML"> </a>{% endif %}</h4>
                        <h5>{{ job.dates }}</h5>
                        <p><em>{{ job.company }}</em></p>
                        <ul>
                          {% for task in job.tasks %}
                          <li>{{ task }}</li>
                          {% endfor %}
                        </ul>
                      </div><!-- Edn Resume Item -->
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </section><!-- /Resume Section -->
            <!-- Portfolio Section -->
            <section id="portfolio" class="portfolio section">
              <!-- Section Title -->
              <div class="container section-title" data-aos="fade-up">
                <h2>Portfolio</h2>
                <div class="container">
                  <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
                    <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                      <li data-filter="*" class="filter-active">All</li>
                      {% for skill in all_skills %}
                        <li data-filter=".filter-{{ skill }}">{{ skill }}</li>
                      {% endfor%}
                      <li><a href="#" hx-get="/click?id=5" hx-target="#buttons-found" hx-swap="innerHTML"> </a></li>
                    </ul><!-- End Portfolio Filters -->
                    <div class="portfolio-area">
                      <div class="isotope-container" data-aos="fade-up" data-aos-delay="200">
                        {% for project in projects %}
                          <div class="portfolio-item isotope-item {% for skill in project.skills %}filter-{{ skill }} {% endfor %}">
                            <div class="container ">
                              <div class="row">
                                <div class="col">
                                  <h4>{{ project.name }}</h4>
                                  <p>{{ project.description }}</p>
                                </div>
                                <div class="col col-md-auto align-self-center">
                                  <div class="vstack gap-3">
                                    {% if project.preview %}
                                      <a href="{% static project.preview %}" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    {% endif %}
                                    {% if project.github %}
                                      <a href="{{ project.github }}" title="GitHub Link" class="details-link"><i class="bi bi-github"></i></a>
                                    {% endif %}
                                    {% if project.link %}
                                      <a href="{{ project.link }}" title="Production link" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div><!-- End Portfolio Item -->
                        {% endfor %}
                      </div><!-- End Portfolio Container -->
                      <a href="#" hx-get="/click?id=6" hx-target="#buttons-found" hx-swap="innerHTML"> </a>
                    </div>
                  </div>
                </div>
              </div><!-- End Section Title -->
            </section><!-- /Portfolio Section -->
        </div>
      </main>

      <div class="col mini-games">
        <div class="card mini-game">
          <div class="card-header text-bg-primary">Find all hidden buttons</div>
          <div class="card-body">
            <h5 class="card-title">Buttons found: <span id="buttons-found">{{ buttons_found }}/8</span></h5>
            <p class="card-subtitle">Something like this -> <a href="#" hx-get="/click?id=7" hx-target="#buttons-found" hx-swap="innerHTML"> </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'JS/main.js' %}"></script>

</body>

</html>